/* src/ui/styles/App.css */
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

